html{
    
}
body {
  /* background-image: url("");
    background-attachment: fixed; */
    font-family: 'Arimo', sans-serif;
}

#details {
  background-color: lightgray;
  width: 600px;
  padding: 3%;
  background: #f7f7f9;
  border: 0.5px solid #fffcfc;
  border-radius: 6px;
}

#footer {
  margin-top: 100px;
}

#notes {
}

#box {
  margin-left: 28px;
  margin-right: 21px;
}

.navbar {
  background-color: #13809e;
  height: 50px;
}

#cs {
  color: #ffffff;
  margin-right: 367.19px;
}

#search {
  position: absolute;
  background: rgba(245, 247, 251, 0.2) !important;
  border-radius: 20px;
  width: 198px;
  height: 32px;
  left: 649px;
  top: 9px;
  border: rgba(245, 247, 251, 0.2);
}

#aHatch {
  margin-right: 34px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.02343px;
}

::placeholder {
  color: #ffffff !important;
}

#headTwo {
  background-color: #f7f7f9;
  height: 35px;
  margin-bottom: 15px;
}

.head {
  font-style: normal;
  font-size: 13px;
  letter-spacing: 1.194px;
  text-transform: uppercase;
  color: #13809e;
}

h4 {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1.70571px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 3px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.53514px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 26.5px;
}

.items {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 1.194px;

  color: #13809e;
}

#createdBy {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.02343px;
  color: rgba(0, 0, 0, 0.8);
}

p,
b {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.194px;

  color: rgba(0, 0, 0, 0.8);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(./images/Shape.png) !important; /* Add custom arrow */
  background-repeat: no-repeat !important;
  background-position: right !important;
  width: 98px;
  height: 25px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.194px;
}

.row {
  margin-bottom: 30px;
}

textarea {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  width: 559px;
  height: 121px;
  margin-bottom: 10px;
}

button {
  float: right;
  background: #13809e;
  border-radius: 4px;
  left: 88.28%;
  right: 2.73%;
  top: 59.35%;
  bottom: 37.39%;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
