body {
    /* background-image: url("");
    background-attachment: fixed; */

}

#details {
    background-color: lightgray;
    width: 600px;
    padding: 3%;

}

#footer {
    margin-top: 100px;
}

#notes {
}