body {
  /* background-image: url("");
    background-attachment: fixed; */
}

#details {
  background-color: lightgray;
  width: 600px;
  padding: 3%;
}

#footer {
  margin-top: 100px;
}

#notes {
}

#box {
  margin-left: 28px;
  margin-right: 21px;
}

.navbar {
  background-color: #13809e;
  height: 50px;
}

#cs {
  color: #ffffff;
  margin-right: 367.19px;
}

#search {
  position: absolute;
  background: rgba(245, 247, 251, 0.2) !important;
  border-radius: 20px;
  width: 198px;
  height: 32px;
  left: 649px;
  top: 9px;
  border: rgba(245, 247, 251, 0.2);
}

#aHatch {
  margin-right: 34px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.02343px;
}

::placeholder {
  color: #ffffff !important;
}

#headTwo {
  background-color: #f7f7f9;
  height: 35px;
  margin-bottom: 15px;
}

#head {
  font-size: 13px;
  letter-spacing: 1.194px;
  text-transform: uppercase;
  color: #13809e;
}

h4 {
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 1.70571px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 3px;
}

#createdBy {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.02343px;
  color: rgba(0, 0, 0, 0.8);
}

p {
  margin: 0;
}
